.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 0;
    border-radius: 20px;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    background-image: linear-gradient(to right, #5a7393, #7da4d1, #5a7393);
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.modal-body {
    color: black;
}

.modal-footer {
    background-image: linear-gradient(to right, #5a7393, #7da4d1, #5a7393);
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
